.banner-div {
  background-image: url("../../assets/images/banner.jpg");
  background-size: cover;
  height: 300px;
}




/*=========== Nav-Bar ========= */


span{
  color: crimson;
}

#navbarSupportedContent a:hover {
  border-bottom: 2px solid crimson;
  transform: translateY(2px);
}





#logged-in-user{
  color: blue;
  margin-left: 35rem;
  
}




/* ========== banner section ======== */


.blog-page-main{
  margin-top: 50px;
}


.main-footer {
  height: 100px;
}
.image-section {
  height: 50vh;
  max-width: 100%;
  /* height: auto; */
  display: block;
  margin: auto;
  overflow: hidden;
}
.container-section {
  display: flex;
  height: 50vh;
  align-items: center;
}
.title-section {
  align-self: center;
}
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 110%;
}
.author-section {
  font-size: small;
  /* display: flex; */
  margin-top: 2rem;
}
.title-div {
  height: 60%;
}

.login {
  width: 40%;
  height: 400px;
  background-color: rgb(119, 89, 85);
}
