*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins, 'sans-serif;
}

.blog__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: #fff;
    
}

.blog__field{
    min-width: auto;
    height: 100%;
    background: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 30px 20px;
}

.input__group{
    position: relative;
    width: 250px;

}

.input__group input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
    outline: none;
    border-radius: 5px;
    color: #000;
    font-size: 1em;
    /* transition: 0.5s; */
}

.input__group span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: .9em;
    text-transform: uppercase;
}

.input__group input:valid~span,
.input__group input:focus~span{
    color: rgb(0, 123, 255);
    transform: translateX(10px) translateY(-7px);
    font-size: .8em;
    padding: 0 3px;
    background: #fff;
   
}

.input__group input:valid,
.input__group input:focus{
    border: 1px solid rgb(0, 123, 255);
}

.input__group textarea:valid,
.input__group textarea:focus{
    border: 2px solid rgb(0, 123, 255);
}

#btn{
    border-radius: 50px;
    width: 20%;
    height: 100%;
    background: rgb(0, 123, 255);
    border-style: none;
    padding: 2px 3px;
    color: white;
    cursor: pointer;

}